.Pagination{
    position: relative;
    display: flex;
    margin-right: 10px;
}
li{
    list-style-type: none;
    margin-right: 11px;
}
.pagelink{
    color:rgba(0, 0, 0, 0.716);
 font-size: 22px;
}
.active:hover {
    cursor: pointer;
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
     transform: rotateZ(20deg);
  }


  .liCurrent{
    color:rgba(0, 0, 0, 0.716);
    text-decoration: underline;
  } 
  